:root {
  color-scheme: dark;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: white;
  max-width: 1500px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 1rem;
  overflow-y: hidden;
  user-select: none;
  padding: 0rem 0rem;
}

input {
  color: #c5384b;
}

h1 {
  color: #ffffff;
  text-align: center;
  display: none;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.navigation {
  height: 15vh;
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0rem 4rem;
}


.mobile-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000; /* Adjust background color */
  color: white;
  padding: 20px;
  display: flex; /* Enable Flexbox for horizontal arrangement */
  justify-content: space-around; /* Distribute elements evenly */
  height: 6vh;
  z-index: 5;
}

.layout,
.searchb,
.add
 {
  background-color: #82828200;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 80px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
  border-radius: 0px;
  background-repeat: no-repeat; /* Prevent image tiling */
  background-position: center; /* Center the image */
  background-size: cover; /* Stretch the image to cover the button */
}
.add {
  background-image: url("add.png");
}
.searchb {
  background-image: url("search.png");
}
.layout {
  background-image: url("layout.png");
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  width: 50%;
}

#pictur-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#search-input {
  width: 50.2vw;
  color: #c5384b;
  background-color: #2b2b2b;
}

#search-input:focus {
  outline: none;
  border-color: #c5384b;
  box-shadow: 0 0 5px #c5384b;
}

div {
  box-sizing: border-box;
}

input[type="text"],
input[type="number"],
textarea {
  padding-left: 5vw;
  border: 1px solid #171717;
  background-color: #171717;
  border-radius: 70px;
  height: 120px;

  width: 75vw;
  font-size: 180%;
}

.picture-import {
  padding: 0.5vw 0vw 0.5vw 0.5vw;
  border: 1px solid #171717;
  background-color: #171717;
  border-radius: 50px;
  width: 26.5vw;
  font-size: 120%;
}

input[type="file"] {
  color: rgb(95, 95, 95);
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #0d0d0d;
  color: #c5384b;
  padding: 0.9vw;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.save {
  background-color: #c5384b;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 70px;
  width: 250px;
  font-size: 180%;
  padding: 50px;
  text-align: center; /* Horizontally center text */
  display: flex; /* Enable Flexbox for vertical centering */
  justify-content: center; /* Horizontally center content within button */
  align-items: center; /* Vertically center content within button */
}

.reset {
  background-color: #171717;
  color: #757575;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 70px;
  width: 250px;
  font-size: 180%;
  padding: 50px;
  text-align: center; /* Horizontally center text */
  display: flex; /* Enable Flexbox for vertical centering */
  justify-content: center; /* Horizontally center content within button */
  align-items: center; /* Vertically center content within button */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2b2b2b;
}

th,
td {
  padding: 10px;
  text-align: center;

  width: fit-content;
}
th {
  background-color: #2b2b2b;
  height: 30px;
}

tr:nth-child(odd) {
  background-color: #2e2e2e;
}

.picture-item img {
  width: 12vw;
  height: 12vw;
  /* min-width: 100px;
  min-height: 100px; */
  object-fit: cover;
  border-radius: 15px;
  margin: 10px;
}

#logo-img {
  border-radius: 0px;
  min-width: 10px;
  min-height: 10px;
}

.or {
  margin: 0 5px;
  right: 20px;
  position: relative;
  color: #ffffff;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1.5rem;
}

#logo-img {
  width: 75px;
  height: 75px;
  margin: 0px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #c5384b;
  box-shadow: 0 0 5px #c5384b;
}

/* Add these styles to your existing CSS file or create a new one */

.forms {
  position: fixed;
  bottom: 6vh;
  right: 0px;
  z-index: 4;
  width: 95%;
  height: fit-content;
  padding: 40px;
  background-color: #000000;
  border-radius: 70px;
  display: ;
  flex-direction: column;
  margin: 2.5%;
  padding-bottom: 300px;
  display: none;
}

.form-overlay {
  position: fixed; /* Ensures the overlay covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Darken the background with transparency */
  backdrop-filter: blur(5px); /* Apply blur effect */
  display: none; /* Initially hide the overlay */
}


.btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.tabelka {
  flex: 1;
  height: auto;
  margin-bottom: 120px;
  background-color: #2b2b2b;
  overflow-y: auto;
  border-radius: 70px;

  height: 79vh;
  width: 100%;
  /* WebKit scrollbar styles */
  &::-webkit-scrollbar {
    width: 0px; /* Adjust scrollbar width */
  }

  &::-webkit-scrollbar-track {
    background: transparent; /* Remove background color */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c5384b; /* Set thumb color */
    border-radius: 5px; /* Add rounded corners */
  }
}

#picture-feed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 40px;
  height: 100%;
  width: 100%;
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c5384b;
    border-radius: 5px;
  }
}

.picture-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #171717;
  border-radius: 30px;
  position: relative;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 28vh;
  width: 100%;
  overflow: hidden;
  box-shadow: -6px 13px 19px #0000003a;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.picture-item .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 0 0 30px 30px;
  z-index: 3;
}

.picture-item .rating {
  position: absolute;
  top: 15px;
  left: 17px;
  background-color: #2b2b2bb1;
  backdrop-filter: blur(10px);
  width: 80px;
  height: 80px;
  border-radius: 25px;
  color: #ffffff;
  z-index: 3;
  font-size: 250%;
  border: 2px solid #ffffff0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-item .description {
  margin-top: auto;
  z-index: 3;
}

.picture-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, #000000);
  z-index: 2;
  border-radius: 30px;
}

.picture-item h3 {
  margin: 0;
  z-index: 3;
}

.picture-item .rating {
  margin: 5px 0;
}

.picture-item .description {
  margin: 0;
}

.light-mode .picture-item .rating {
  background-color: #ffffff60;
  color: #000000;
  border: 2px solid #00000030;
}

.light-mode .picture-item::after {
  background-image: linear-gradient(transparent, #ffffff75);
}

body.light-mode {
  background-color: white; /* Light mode background color */
  color: black; /* Light mode text color */
}

.light-mode input[type="text"],
.light-mode input[type="number"],
.light-mode textarea {
  background-color: #ffffff; /* Light mode input background color */
  border: 1px solid #ffffff;
}

.ligh-mode input[type="file"]::-webkit-file-upload-button {
  background-color: #dcdfe4;
}

.ligh-mode .picture-import {
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.ligh-mode .reset {
  background-color: #ffffff;
  color: #757575;
}

.light-mode .forms {
  background-color: #dcdfe4;
}
.light-mode .tabelka {
  background-color: #dcdfe4;
}
.light-mode .navigation {
  background-color: #ffffff;
}
.ligh-mode #search-input {
  background-color: #dcdfe4;
}

.light-mode h1 {
  color: rgb(57, 57, 57);
}

.ligh-mode :root {
  color-scheme: light;
}
.light-mode input[type="file"] {
  color: #333333; /* Change the text color for light mode */
  background-color: #ffffff; /* Change the background color for light mode */
  border: 1px #ffffff;
}

.light-mode input[type="file"]::-webkit-file-upload-button {
  background-color: #f1f2f4; /* Change the background color for the upload button in light mode */
  color: #c5384b; /* Change the text color for the upload button in light mode */
}
.light-mode #search-input {
  color: #333333; /* Change the text color for light mode */
  background-color: #dcdfe4; /* Change the background color for light mode */
}
.light-mode .reset {
  background-color: #ffffff; /* Set the desired background color for the delete button in light mode */
  color: #333333; /* Set the desired text color for the delete button in light mode */
}

.theme-toggle {
  margin-top: 6px;
  background-color: #2b2b2b00;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 120%;
  background-image: url("moon.png"); /* Set initial background image for light mode */
  background-repeat: no-repeat; /* Prevent image tiling */
  background-position: center; /* Center the image */
  background-size: cover; /* Stretch the image to cover the button */
  width: 75px; /* Adjust width as needed */
  height: 75px; /* Adjust height as needed */
}

.light-mode .theme-toggle {
  background-color: #dcdfe400;
  background-image: url("sun.png"); /* Set background image for dark mode */
}

.delete-button {
  position: absolute;
  top: 15px;
  right: 17px;
  background-color: #2b2b2bb1;
  backdrop-filter: blur(10px);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #ffffff;
  z-index: 3;
  font-size: 170%;
  border: 2px solid #ffffff0f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-button img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.file-drop-zone {
  background-color: #171717;
  border-radius: 50px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-mode .file-drop-zone {
  background-color: #ffffff;
}

.file-drop-zone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.file-drop-zone-content img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

#drop-zone-text {
  font-size: 50px;
  color: #c5384b;
}

.file-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1rem;
}

.file-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 035px;
}
