:root {
  color-scheme: dark;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 20px 40px 0px 40px;
  padding-top: 100px;
  background-color: #171717;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: left;
}


input{
  color: #c5384b;
}

h1 {
  color: #c5384b;
  text-align: center;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Set the height of the navigation bar */
  background-color: #171717; /* Optional background color */
  color: white;
  display: flex; /* Enable Flexbox for horizontal arrangement */
  align-items: center; /* Align content vertically */
  padding: 10px 00px 0px 30px; /* Add some padding */
}

.forms{
  position: fixed;
  top: 120px;
  right: 40px;
  width: 30%;
  height: fit-content;
  padding: 40px;
  background-color: #2b2b2b;
  border-radius: 30px;
  display: flex; /* Apply flexbox for stacking */
  flex-direction: column; /* Stack elements vertically */
}

input[type="text"],
input[type="number"],
textarea {
  padding-left: 25px;
  margin: 10px;
  border: 1px solid #171717;
  background-color: #171717;
  border-radius: 50px;
  height: 70px;
  width: 300px;
  font-size: 120%;
}

textarea {
  width: 150px;
  height: 25.6px;
  resize: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  line-height: 25.6px;
}

.picture-import {
  display: flex;
  padding: 16px;
  margin: 10px;
  flex-direction: row;
  background-color: #171717;
  border-radius: 50px;
  width: fit-content;
  width: 292px;
  font-size: 120%;
}

input[type="file"] {
  color: rgb(95, 95, 95);
  display: flex;
  align-items: center;
  border: none;
}

input[type="file"]::-webkit-file-upload-button {
  background-color: #0d0d0d;
  color: #c5384b;
  padding: 10px ;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.container {
  display: flex; /* Enable Flexbox */
  justify-content: space-between; /* Distribute elements horizontally */
  border-radius: 30px;
}

button {
  margin: 10px;
  background-color: #c5384b;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 70px;
  width: 150px;
  font-size: 120%;
}

.reset {
  margin: 10px 0px 10px 10px;
  background-color: #171717;
  color: #757575;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 70px;
  width: 150px;
}

table {
  width: 60%;
  max-width: 67%;
  border-collapse: collapse;
  border-radius: 30px;
  background-color: #2b2b2b;
}

th,
td {
  padding: 10px;
  text-align: center;

  width: fit-content;
}
th{
  background-color: #2b2b2b;
  height: 30px;
}

th:first-child {
  border-radius: 30px 0 0 0px;
}

th:last-child {
  border-radius: 0 30px 0px 0;
}

tr:nth-child(odd) {
  background-color: #2e2e2e;
}


img {
width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

.or {
  margin: 0 5px;
  right: 20px;
  position: relative;
  color: #ffffff;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}

#logo-img {
  width: 35px;
  height: 35px;
}

#search-input {
  align-self: center;
  border-radius: 50px;
  width: 55%;
  color: #c5384b;
  background-color: #2b2b2b;
}

#search-input:focus {
  outline: none;
  border-color: #c5384b;
  box-shadow: 0 0 5px #c5384b;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #c5384b;
  box-shadow: 0 0 5px #c5384b;
}

/* Add this code to your existing CSS file or create a new one */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  gap: 1rem;
}

.modal-content h2 {
  color: black;
}

.modal-content input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
@media (max-width: 1000px) {
  /* Styles for smaller screens */
body {
  align-items: center;
  margin: 10px;
  padding: 0px;
}

  table {
    margin-top: 200px;
    width: 100%;
    max-width: 100%;
    min-width: none;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .search {
    width: 100%;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: auto;
  }

  .logo {
    margin-top: 10px;
  }

  .forms {
    position: fixed;
    top: 500px;
    width: 80%;
    padding: 0px;
    box-sizing: border-box;
    align-items: center;
    width: fit-content;
    margin-bottom: 300px;
    box-shadow: 0px 5px 20px #0d0d0d;
  }

  input[type="text"],
input[type="number"],
textarea {
  height: 50px;
  width: 300px;
  font-size: 100%;
}

button {
  margin: 10px;
  background-color: #c5384b;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  width: 160px;
  font-size: 100%;
}

.reset {
  margin: 10px 0px 10px 10px;
  background-color: #171717;
  color: #757575;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
  width: 160px;
}

.picture-import {
  display: flex;
  padding: 8px;
  margin: 10px;
  flex-direction: row;
  background-color: #171717;
  border-radius: 50px;
  width: fit-content;
  width: 310px;
  font-size: 100%;
}

}




